*{
  font: 20px;
  font-family: Arial;
   
}
#pp{
    text-align: center;
}
.box{
    border: 1px solid;
    border-radius: 10px;
    color: aliceblue;
    background-color: black;
    /* height: auto; */
    width: 400px;
    margin-left: 300px;
}
.text{
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    /* height: 100px; */
}
